@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
      url('../fonts/BebasNeueCyrillic.woff') format('woff2'),
      url('../fonts/BebasNeueRegular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



*{
  box-sizing:border-box;
}

body{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.header{
  padding-top: 12px;
  padding-bottom: 12px;
  background: #635854;
  border-bottom: 4px solid #3596F5;
  box-sizing: border-box;
}

.navbar{
  max-width: 1278px;
  margin: auto;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.navbar-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item{
  margin-left: 40px;
  margin-right: 40px;
}

.navbar-link{
  text-decoration: none;
  color: #fff;
}

.navbar-contacts{
  text-align: right;
}

.navbar-text{
  color:#fff;
  margin-bottom: 4px;
}

.navbar-phone{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}

.main{
  max-width: 1278px;
  margin: auto;
  margin-top: 54px;
  display: flex;
}

.home-image path{
  opacity: 0;
  cursor:pointer;
}

.home-image path:hover{
  opacity: 1;
}

.main-info{
  flex-grow: 1;
  text-align: center;
}

.counter-group{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.counter-button{
  background-color: #fff;
  border:none;
  cursor:pointer;
}

.counter-arrow-down{
  transform: rotateX(180deg);
}

.main-title{
  font-family: 'Bebas Neue';
  font-size: 37px;
  color: #635854;
  font-weight: normal;
}

.counter{
  font-family: 'Bebas Neue';
  color: #635854;
  font-weight: normal;
  font-size: 146px;
  padding-top: 7px;
}

.button-primary{
  background-color:#3596F5;
  color: #fff;
  border: none;
  border-radius:6px;
  font-size: 16px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.counter-group{
  padding-top: 109px;
  padding-bottom: 116px;
}

path.current-floor{
  opacity: 1;
}

.modal{
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items:center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}

.is-open{
  opacity: 1;
  transform: scale(1);
}

.modal-dialog{
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
}

.modal-image{
  background-color: #EBEBEB;
  width:60%;
  text-align: center;
  padding: 50px;
}

.modal-title{
  font-weight: normal;
  font-family: 'Bebas Neue';
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-counter{
  font-family: 'Bebas Neue';
}

.modal-info{
  width: 40%;
  padding: 50px 46px;
}

.flat-list{
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.flat-link{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #635854;
}

.flat-item{
  margin-bottom: 10px;
}
.flat-link:hover{
  text-decoration-line: underline;
  color: #3596F5;
}

.modal-alert{
  padding-top: 56px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}

.modal-alert:hover{
  color: #857671
}

.modal-close-button{
  position: absolute;
  right: 0;
  top:0;
  background-color: #fff;
  border:none;
  margin-top: 38px;
  margin-right: 27px;
  cursor: pointer;
}

.floor-image path{
  opacity: 0;
  cursor:pointer;
}

.floor-image path:hover{
  opacity: 1;
}